@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* colors */

:root{
    --nutmeg:hsl(14, 45%, 36%);
    --darkrespberry:hsl(332, 51%, 32%);
    --white:hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --lightgrey:hsl(30, 18%, 87%);
    --wengebrown:hsl(30, 10%, 34%);
    --darkcharcoal: hsl(24, 5%, 18%);
}

body{
   background-color: var(--lightgrey);
   margin: 0;
   padding: 0;
}
.main{
    background-color: var(--white);
    width: 90%;
    max-width: 900px;
    height: auto;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 100px;
}

.main__card__wrapper{
    margin: 50px 50px 50px 50px;
}

.main__image__styling{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin: 50px 50px 50px 50px;
}
.main__recipe--heading{
    font-family: "Young Serif", serif;
    color: var(--darkcharcoal);
    font-weight: 400;
    font-size: 45px;
}

.main__recipe--styling{
    font-family: "Outfit", sans-serif;
}
.main__recipe--sub--styling{
    color: var(--wengebrown);
    line-height: 30px;
    font-size: 18px;
}
.main__recipe--list{
    font-weight: bold;
}

.main__recipe__heading{
    color: var(--darkrespberry);
}
.main__recipe--preperation{
    color: var(--nutmeg);
    font-size: 30px;
}



.main__recipe__table{
    width: 100%;
}

.main__recipe__table--styling{
    border-bottom: 1px solid var(--lightgrey);
}

.main__recipe--tablecol{
    color: var(--nutmeg);
    font-size: 20px;
}

@media (max-width: 768px){
    .main{
        background-color: var(--white);
        width: 100%;
        max-width: 900px;
        height: auto;
        /* margin: auto; */
        margin-left: auto;
        margin-right: auto;
        border-radius: 0px;
        overflow: hidden;
        outline: 1px solid green;
        margin-top: 0px;
    }
    
    .main__card__wrapper{
        margin: 30px 30px 30px 30px;
    }
    .main__image__styling{
        width: 100%;
        height: auto;
        border-radius: 0px;
        margin: 0px 0px 0px 0px;
    }
    .main__recipe__mobile--background{
        background-color: hsl(333, 32%, 88%);
        border-radius: 15px;
        padding: 10px;
    }
  }